body
{
    background: #eee;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    padding:0px;
    margin:0px;
    color: #4c5b5c;
}
a
{
    color: #3891a6;
    text-decoration: none;
}
a:hover
{
    color: #4c5b5c;
}
.index
{
    margin: 1em;
}
.welcome
{
    text-align: center;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
.mako
{
    font-size: 200px;
}
